<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Digital Binding</title>
</head>

<body>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('page', pagename='index') }}">Home</a>
    </div>
      <ul class="nav navbar-nav">
          <li><a href = {{ url_for('page',pagename='about') }}>About</a></li>
      </ul>
  </div>
   </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

   <h2>About Us</h2>
   <p>We are a group of UT students creating a database for books</p>

   <a href="https://github.com/nguyentb95/cs329e-idb" class="link-gray text-normal"><h3>Repository</h3></a>

   <a href="https://github.com/nguyentb95/cs329e-idb/wiki" class="link-gray text-normal"><h3>Wiki</h3></a>

   <a href="https://github.com/nguyentb95/cs329e-idb/issues" class="link-gray text-normal"><h3>Issue Tracker</h3></a>

   <h3>Authors</h3>
    <a href="{{ url_for('page',pagename='narenmakkapati') }}"><p>Naren Makkapati</p></a><br/>
    <a href="{{ url_for('page',pagename='joemorris') }}"><p>Joe Morris</p></a><br/>
    <a href="{{ url_for('page',pagename='tolannguyen') }}"><p>Tolan Nguyen</p></a><br/>
    <a href="{{ url_for('page',pagename='steventran') }}"><p>Steven Tran</p></a><br/>
    <a href="{{ url_for('page',pagename='yutoyabu') }}"><p>Yuto Yabu</p></a><br/>




</body>
</html>