<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{author.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('page', pagename='index') }}">Home</a>
    </div>
    </div>
   </nav>
    <div class="container">
     <div class="row">
            <div class="col-sm-4">
                <h1>{{author.name}}</h1>
                <h2>Author</h2>
                <h3>Author of:</h3>
				{% for book in author.books %}
                    <a href="{{ url_for('bookpage', bookisbn=book.isbn) }}"><h4>{{ book.title }}</h4></a>
                {% endfor %}
                <h3>Published by:</h3>
                {% for publisher in author.publishers %}
                    <a href="{{ url_for('publisherpage', publishername=publisher.name) }}"><h4>{{ publisher.name }}</h4></a>
                {% endfor %}
            </div>
            <div class="col-sm-8">
                <img src={{author.image}} class="img-thumbnail" alt={{author.name}}>
            </div>
    </div>
</body>
</html>
