<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{book.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('page', pagename='index') }}">Home</a>
    </div>
    </div>
   </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>{{book.title}}</h1>
                    <h2>Written by</h2>
                <a href="{{ url_for('authorpage', authorname=book.author) }}"><h3>{{ book.author }}</h3></a>
                <h2>Published by</h2>
                <a href="{{ url_for('publisherpage', publishername=book.publisher) }}"><h3>{{ book.publisher }}</h3></a>
            </div>
            <div class="col-sm-8">
                <img src ={{book.image}} class="img-thumbnail" alt={{book.title}}>
            </div>

        </div>
    </div>
</body>
</html>
