<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HarperCollins</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
    <h1>HarperCollins</h1>
    <h2>Publishing House</h2>
    <h3>Published:</h3>
    <p>To Kill a Mockingbird</p>
    <p></p>
    <h3>Written by:</h3>
    <p>Harper Lee</p>
    </div>


</body>
</html>
