<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Digital Binding, LLC</h1>
    <h2>If you need to contact us, call us at 1-800-FUCK-OFF</h2>
    <h3>Books</h3>
    <a href={{ url_for('page',pagename='thewellofascension') }}><p>The Well of Ascension</p></a><br/>
    <a href={{ url_for('page',pagename='theemperorofallmaladies') }}><p>The Emperor of All Maladies</p></a><br/>
    <a href={{ url_for('page',pagename='tokillamockingbird') }}><p>To Kill A Mockingbird</p></a><br/>
    <h3>Authors</h3>
	<a href={{ url_for('page',pagename='bryansanderson') }}><p>Bryan Sanderson</p></a><br/>
    <a href={{ url_for('page',pagename='harperlee') }}><p>Harper Lee</p></a><br/>

    <h3>Publishers</h3>
	<a href={{ url_for('page',pagename='palgravemacmillan') }}><p>Palgrave Macmillan</p></a><br/>
</body>
</html>