<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <title>Digital Binding</title>
    <style>
    table, th, td {
        border: 1px solid black;
        padding: 10px;
    }
    </style>

</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('page', pagename='index') }}">Home</a>
    </div>
    </div>
   </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
    <h1>Available Publishers</h1>
        <table class="sortable">
                <tr>
                    <th>Name</th>
                    <th>Founded</th>
                    <th>Parent Company</th>
                    <th>Owner</th>
                    <th>Books</th>
                </tr>
                {% for publisher in publisherRows %}
                    <tr>
                    <td><a href="{{ url_for('publisherpage', publishername=publisher.name) }}">{{ publisher.name }}</a></td>
                    <td>{{ publisher.yearFounded }}</td>
                    <td>{{ publisher.parentCompany }}</td>
                    <td>{{ publisher.owner }}</td>
                    <td>{% for book in publisher.books %}
                        <a href="{{ url_for('bookpage', bookisbn=book.isbn) }}">{{ book.title }}</a>
                        <br>
                        <br>
                        {% endfor %}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>

</body>
</html>