<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steven Tran</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('page', pagename='index') }}">Home</a>
    </div>
    </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Steven Tran</h1>
                <h2>Grandmaster of Science and Director of Pirate Genetic Engineering</h2>
                <h3>Bio</h3>
                <p>I am a fourth year biochemistry BS major and researcher in Ellington lab. I like to cycle and 3D print random s*** in my free time.</p>
                <h3>Responsibilites</h3>
                <ul>
                    <li>Model schema design and pages</li>
                    <li>About page organization</li>
                    <li>Data collection</li>
                </ul>
                <a href="https://github.com/nguyentb95/cs329e-idb/commits?author=sdtran" class="link-gray text-normal"><h3>14 commits</h3></a>
                <h3>4 Issues</h3>
            </div>
            <div class="col-sm-4">
                <img src="{{ url_for('static', filename='steventran.jpg') }}">
            </div>
        </div>
    </div>
</body>
</html>