<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Emperor of All Maladies</title>
</head>
<body>
    <h1>The Emperor of All Maladies</h1>
    <h2>Written by</h2>
    <h3>Written by Siddhartha Mukherjee</h3>
    <a href={{ url_for('page',pagename='siddharthamukherjee') }}><h2>Siddhartha Mukherjee</h2></a><br/>
    <h3>Published by Simon & Schuster</h3>
    <a href={{ url_for('page',pagename='simonschuster') }}><h3>Simon & Schuster</h3></a><br/>
    <p>Google ID: hgx0sJvphNkC</p>
</body>
</html>