<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Emperor of All Maladies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('page', pagename='index') }}">Home</a>
    </div>
    </div>
   </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>The Emperor of All Maladies</h1>
                <h2>Written by</h2>
                <a href={{ url_for('page',pagename='siddharthamukherjee') }}><h2>Siddhartha Mukherjee</h2></a><br/>
                <h2>Published by</h2>
                <a href={{ url_for('page',pagename='simonschuster') }}><h2>Simon Schuster</h2></a><br/>
                <p>Google ID: hgx0sJvphNkC</p>
            </div>
            <div class="col-sm-8">
                <img src="https://books.google.com/books/content/images/frontcover/hgx0sJvphNkC?fife=w500" class="img-thumbnail" alt="The Emperor of All Maladies">
            </div>
        </div>
    </div>
</body>
</html>


