<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Well of Ascension</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            <h1>The Well of Ascension</h1>
                <h2>Written by</h2>
            <a href={{ url_for('page',pagename='bryansanderson') }}><h2>Bryan Sanderson</h2></a><br/>
                <h3>Published by</h3>
            <a href={{ url_for('page',pagename='palgravemacmillan') }}><h3>Palgrave Macmillan</h3></a><br/>
            <p>Google ID: Y-41Q9zk32kC</p>
            </div>
            <div class="col-sm-8">
                <img src="https://books.google.com/books/content/images/frontcover/Y-41Q9zk32kC?fife=w500" class="img-thumbnail" alt="The Well of Ascension">
            </div>
        </div>
    </div>
</body>
</html>