<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Kill a Mockingbird</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
    <h1>To Kill a Mockingbird</h1>
    <h2>by Harper Lee</h2>
    <h3>Published by HarperCollins</h3>
    <p>Google ID: -D8WBAAAQBAJ</p>
    </div>
</body>
</html>
