<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tolan Nguyen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('page', pagename='index') }}">Home</a>
    </div>
    </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <h1>Tolan Nguyen</h1>
                </div>
                <div class="col-sm-8">
                    <h2 style="font-size: 25px;">Chief Executive Technical Director and Deck Swabber</h2>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <h3>Major：</h3>
                    </div>
                    <div class="col-sm-4">
                        <h3>Neuroscience</h3>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h3>Responsibilites：</h3>
                    </div>
                    <div class="col-sm-10">
                        <ul>
                        <li>Setup Google Cloud Platform</li>
                        <li>Setup website domain</li>
						<li>Maintain Github Repository and Wiki</li>
                        <li>Develop data infrastructure</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-5">
                        <h3>Number of commits：</h3>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/nguyentb95/cs329e-idb/commits/?author=nguyentb95" class="link-gray text-normal"><h3>60 commits</h3></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-5">
                        <h3>Number of Issues：</h3>
                    </div>
                    <div class="col-sm-4">
                        <h3>13 issues</h3>
                        <h3>3 Unit Test</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="{{ url_for('static', filename='tolannguyen.jpg') }}" style="width: 300px; height: 300px; margin-top: 20px">
            </div>
        </div>
    </div>
</body>
</html>